body {
    background: #EBE8E8;
    margin: 0;
    font-family: sans-serif;
}
/*Menu para escritorio*/
header {
    width: 100%;
    background: #2E2E2E;
}
#btn-menu {
    display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.menu {
    position: fixed;
    width: 100%;
    background: rgba(46,46,46,95%);
    box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
    z-index: 1000;
    
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 1px solid #fff;
}
.menu li:hover {
    background: rgba(0,0,0,0.3);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 65px;
    font-family: fantasy;
    color: red;
    
}
/*Menu para movil*/
@media (max-width:768px){
    header label {
        display: block;
    }
    .menu-mobil {
        position: fixed;
        background: rgba(46,46,46,95%);
        box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
        z-index: 1000;
    }
    .menu {
        position: fixed;
        background: rgba(46,46,46,95%);
        box-shadow: 0px 4px 3px rgba(0,0,0,0.5);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;        
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}
/*Slider automatico*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
@keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100%{margin-left: -300%;}
}
/**Imagenes debajo del slider o de musetra*/
.img-muestra {
    list-style: none;
}
.titulo {
    margin: 0;
    font-family: fantasy;
    font-size: 80px;
    text-align: center;
    color:red;
}
.footer {
    margin-bottom: 0;
    background: #2E2E2E;
    font-size: 30px;
    text-align: center;
    color: wheat;
}
/*Login*/
.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 6px #848484;
    border-radius: 50%;
}
.main-section {
    margin: 0 auto;
    margin-top: 35%;
    padding: 0;
}
.fondo-login {
    background: #002c3b;
    background-size: cover;
}
.modal-content {
    padding: 0 20px;
    box-shadow: 0px 0px 6px #848484;
}
.form-group input {
    height: 42px;
    font-size: 18px;
    padding-left: 54px;
    border-radius: 5px;
}
.form-group::before {
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 32px;
    font-size: 22px;
    padding-top: 4px;
}
.form-group#user-group::before {
    content: "\f007";
}
.form-group#password-group::before {
    content: "\f023";
}
button {
    width: 60%;
    margin: 5px 0 25px;
}
.forgot {
    padding: 10px 0;
}
/*Registrarse*/

